*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../image/flower-7994489_1280.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
/* section one */
.section_one{
    width: 35%;
    height: 42rem;
    margin-left: 25rem;
    margin-top: 1rem;
    border-radius: 10px;
    /* background-color: aqua; */
    border: 3px solid red;
    background-image: url(../image/rajendra.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.header{
    height: 2rem;
    padding-top: .3rem;
    display: flex;
    /* background-color: rgb(37, 12, 179); */
}
.header .header_div_two {
    margin-left: 14rem;
   
}
.header .header_div_two i{
    margin-right: .5rem;
   
}
.header .time{
    margin-left: 2rem;
}
.footer{
    margin-top: -1.5rem;
    height: 2rem; 
}
.footer a i{
    margin-left: 6.5rem;
    color: crimson;
}
/* Main_div  */
.main_div{
    display: flex;
    margin-top: 5rem;
    margin-left: 1.5rem;
    position: relative;
}
.main_div_one{
    display: block;
    width: 45%;
    height: 34rem;
}
.main_div_one a{
    color: black;
    text-decoration: none;
    padding-top: 5rem;
}
.main_div_one a i{
    margin-left: .8rem;
    font-size: 18px;
    
}
.main_div_two{
     width: 45%;
     text-align: right;
      margin-left: 1rem;
}
.main_div_two a{
    color: black;
    text-decoration: none;
}
.main_div_two a i{
    margin-right: 1.5rem;
    font-size: 18px;
}